version: '3'
services:
  db:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    ports:
      - "3306:3306"
  web:
    build: .
    depends_on:
      - db
    ports:
      - "8080:8080"
